.hero {
  @extend .text-center;

  &__title {
    @extend .h2;

    color: $primary;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__subtitle {
    @extend .lead;

    margin-bottom: 3rem;
  }
}

.subscription {
  &__email {
    margin-bottom: 0.5rem;

    &__input {
      padding: 0.75rem;
    }
  }

  &__button {
    font-weight: 400;
    padding: 0.75rem;
  }
}

.testimonial {
  &__header {
    @extend .text-center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
