h1 {
  text-align: center;
}

.input {
  margin-bottom: 5px;
  text-align: center;
}

.form-control {
  width: 45%;
}

.subscribe-button {
  text-align: center;
  display: block;
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #ccc;
  width: 45%;
}
